# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.lock.hcl
*.tfplan
crash.log
crash.*.log

# Environment / Secrets
.env
*.pem
*.key
terraform.tfvars

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
